     <div class="page-header">
        <h1>TV Channels</h1>
      </div>
      <div class="well">
            

{% for names in name %} 
    
    <h2>   {{names.channel_name }} </h2>
    
    {% endfor %}
    
      
 
            </div>

